body {
 margin: 0;
 font-family: 'Inter', sans-serif;
 background-color: #ffecec;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.container {
 width: 100%;
 max-width: 480px;
 min-width: 400px;
 height: 100vh;

 background-color: #fff0f0;
 box-sizing: border-box;
 padding: 40px 20px 20px;

 display: flex;
 flex-direction: column;
 justify-content: space-between; 
 border-radius: 16px;
}

.top {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}

.illustration img {
 width: 80%;
 max-width: 320px;
 margin-top: 50px;
 margin-bottom: 50px;
}

.title {
 background-color: #ff6f61;
 color: white;
 padding: 10px 24px;
 border-radius: 6px;
 font-size: 16px;
 font-weight: 600;
 margin-bottom: 20px;
}

.description {
font-size: 10px; 
line-height: 14px; 
color: #a5a6a4;
text-align: center;
margin: 20px 20px; 
flex: 1;
}

.footer {
 display: flex;
 justify-content: space-between;
 align-items: center;

 padding-top: 20px;
 padding-bottom: 30px;
}

.pagination {
 display: flex;
 gap: 6px;
}

.dot {
 width: 8px;
 height: 8px;
 background-color: #ffd1d1;
 border-radius: 2px; 
}

.dot.active {
 background-color: #ff6f61;
}

.skip {
 border: none;
 padding: 10px 24px;
 border-radius: 8px;
 font-size: 12px;
 font-weight: 600;
 cursor: pointer;
 background-color: #e8e8e8;
 color: #555;
}

.next-link { 
 text-decoration: none; 
 border: none;
 padding: 10px 24px;
 border-radius: 8px;
 font-size: 12px;
 font-weight: 600;
 cursor: pointer;
 background-color: #ff6f61;
 color: white;
 display: inline-block; 
}